 <!-- 
 <table style="margin : 5px 5px 5px 5px">
<div style="height: 25%; width:100%">
<div style="width:25%;float:left;">
 
        <img style="" class="" alt="Cinque Terre" [src]="offer1"  >
</div>
<div style="width:75%;float:right;">
<table>
        <tr style="margin-bottom:15px;">
                <td class="col-md-2 text-success">
                                <strong>Name1    :</strong>     
                </td>
                <td class="col-md-10 text-danger">
                                <strong>{{tName }} </strong>    
                </td>
          
        </tr>
         
        <tr style="margin-top:15px;">
                <td class="col-md-2 text-success">
                                Status1  :  {{tStatus}}
                </td>
                <td class="col-md-10 text-success">
                                Money   :   {{tMoney}}
                </td>

        </tr>


</table>
 
 </div> 
</div>
</table> -->


<table style="margin : 5px 5px 5px 5px">
                <div style="height: 25%; width:100%">
                <div style="width:30%;float:left; ">
                 
                        <img style="" class="" height="65" width="80" alt="Cinque Terre" [src]="transData.tImage"  >
                </div>
                <div style="width:70%;float:right;">
                <table style="margin-left:20px;">
                        <thead>
                        <tr style="margin-bottom:15px;">
                                <td class="col-md-12 text-danger">
                                                <strong>Name    :</strong>     {{transData.tName }} 
                                </td>
                                 
                          
                        </tr>
                        <tr style="margin-bottom:15px;">
                                        <td class="col-md-12 text-danger">
                                                        <strong>Status    :</strong>      {{transData.tStatus}}
                                        </td>
                                         
                                  
                                </tr>
                         
                                <tr style="margin-bottom:15px;">
                                                <td class="col-md-12 text-danger">
                                                                <strong>Money    :</strong>       {{transData.tMoney}}
                                                </td>
                                                
                                                
                                          
                                        </tr>
                        
                                </thead>
                
                </table>
                 
                 </div> 
                </div>
                </table>